<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MyTestSuite">
  <test name="BaseTest">
    <classes>
      <class name="automation.BaseTest"/>
      <class name="automation.NavigateToWebsite"/>
      <class name="automation.ValidateSignupPage"/>
      <class name="automation.LoginAutomation"/>
      <class name="automation.SearchFlights"/>
      <class name="automation.SelectFlight"/>
      <class name="automation.BookingFormAutomation"/>
      <class name="automation.VerifyBooking"/>
      <class name="automation.ValidateBookingPage"/>
      <class name="automation.CloseBrowser"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
